.calculator-container {
  display: block;
  /* text-align: center;; */
  justify-content: center;
}

.card {
  width: 45%;
  margin: 1%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-card {
  background-color: #032455;
  color: #eed76d;
  border-radius: 20px;
}


.output-card {
  background-color: #eed76d;
  color: #032455;
  border-radius: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.label {
  margin-bottom: 10px;
}

.button-group {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px 40px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.textbox {
  height: 25px;
  margin-bottom: 16px; 
  margin-left: 10px;
}

.radioButton{
  height: 16px;
  width: 16px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}

.download-button {
  padding: 10px;
  cursor: pointer;
  background-color: #032455;
  color: #eed76d;
  border: none;
  border-radius: 20px;
  z-index: 1; /* Ensure the button is above the card */
}